name: Daily Random Liked Tweet

on:
  schedule:
    # 05:30 IST
    - cron: "0 0 * * *"
    # 13:30 IST
    - cron: "0 8 * * *"
    # 17:30 IST (evening)
    - cron: "0 12 * * *"
    # 21:30 IST
    - cron: "0 16 * * *"
  workflow_dispatch: {}   # allows manual Run workflow

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: pip install requests

    - name: Run script
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python send_random_like.py
